body{
    margin: 0px;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card, .card-group{
aspect-ratio: 5/7;
}

.card-group, .big-card{
    width: 30vmin;
}

.card {
    aspect-ratio: 5/7;
    background-color:rgba(225, 225, 225, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.big-card {
    width: 30vmin;
    border-radius:1vmin;
}

.little-card{
    width: 12vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-card:nth-child(2) {
    transform: translateX(-10%) rotate(-1deg);
    background-image:url(https://images.unsplash.com/photo-1482517967863-00e15c9b44be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hyaXN0bWFzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) ;
}


.big-card:nth-child(4) {
    transform:  rotate(2deg);
    background-image:url(https://images.unsplash.com/photo-1512389142860-9c449e58a543?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hyaXN0bWFzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) ;
}

.big-card:nth-child(6) {
    transform: translateX(-6%) rotate(-3deg);
    background-image:url(https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2hyaXN0bWFzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) ;
}

.big-card:nth-child(8) {
    transform: translateX(10%,3%) rotate(5deg);
    background-image:url(https://images.unsplash.com/photo-1529973625058-a665431328fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hyaXN0bWFzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) ;
}

.little-card:nth-child(1){
    background-image:url(https://images.unsplash.com/photo-1588158074612-37ee7e776f91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
}

.little-card:nth-child(3){
    background-image:url(https://images.unsplash.com/photo-1514377006585-6e7975371bd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) ;
}

.little-card:nth-child(5){
    background-image:url(https://images.unsplash.com/photo-1575915797607-e00b188cbab9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) ;
}

.little-card:nth-child(7){
    background-image:url(https://images.unsplash.com/photo-1576025916944-438d601fc0bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60) ;
}

.card-group:hover > .big-card:nth-child(2) {
    transform: translate(-75%, 16%) rotate(-20deg);
}

.card-group:hover > .big-card:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-7.5deg);
}

.card-group:hover > .big-card:nth-child(6) {
    transform: translate(25%, 8%) rotate(-7.5deg);
}

.card-group:hover > .big-card:nth-child(8) {
    transform: translate(75%, 16%) rotate(20deg);
}

.card-group:hover > .little-card:nth-child(1) {
    transform: translate(200%, -160%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
    transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
    transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
    transform: translate(-280%, 140%) rotate(-15deg);
}

.card-swiper-buttons{
    margin-top: 8vmin;
    display: flex;
    justify-content: space-around;
}

.card-swiper-buttons>button{
    font-size: 2.5vmin;
    border: 0.4vmin solid rgba(200, 200, 200);
    border-radius: 100%;
    color: white;
    background-color: transparent;
    height: 7vmin;
    width: 7vmin ;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card-swiper-buttons>button:hover{
    transform: scale(1.1);
}

.card-swiper-buttons>button:active{
    transform: translateY(4px);
}

#love-button{
    color: rba(33,150,243);
    border-color: rgb(33, 150, 243);
}

#hate-button{
    color: white;
    border-color: red;
}